{% extends "base.html" %}
{% block title %}Подписки{% endblock %}
{% block content %}
  <div class="container py-5">
    {% include 'posts/includes/switcher.html' %}
    <h1>Подписки</h1>
    {% for post in page_obj %}
      <article>
        {% include "includes/article.html" with author_link="все посты ползователя" %}
        {% if post.group %}
          <a href="{% url "posts:group_list" post.group.slug %}">все записи группы</a>
        {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
      </article>
    {% endfor %}
    {% include "posts/includes/paginator.html" %}
  </div>
{% endblock %}