{% extends "base.html" %}
{% block title %}Записи сообщества: {{ group.title }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>{{ group.title }}</h1>
    <p>{{ group.description }}</p>
    <article>
      {% for post in page_obj %}
        {% include "includes/article.html" with author_link="все посты ползователя" %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </article>
    {% include "posts/includes/paginator.html" %}
  </div>
{% endblock %}
